<div class="headbar">
	<div class="position"><span>营销</span><span>></span><span>促销活动管理</span><span>></span><span>促销活动列表</span></div>
	<div class="operating">
		<a href="javascript:;" onclick="event_link('{url:/market/pro_rule_edit}')"><button class="operating_btn" type="button"><span class="addition">添加活动</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
	<div class="field">
		<table class="list_table">
			<col width="40px" />
			<col width="150px" />
			<col width="280px" />
			<col width="60px" />
			<col />
			<col width="100px" />
			<thead>
				<tr>
					<th>选择</th>
					<th>名称</th>
					<th>活动时间</th>
					<th>状态</th>
					<th>介绍</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<form method='post' action='{url:/market/pro_rule_del}'>
		<table class="list_table">
			<col width="40px" />
			<col width="150px" />
			<col width="280px" />
			<col width="60px" />
			<col />
			<col width="100px" />
			<tbody>
				{query:name=promotion where=type eq 0}
				<tr>
					<td><input type='checkbox' name='id[]' value='{$item['id']}' /></td>
					<td>{$item['name']}</td>
					<td>{$item['start_time']} ～ {$item['end_time']}</td>
					<td>{echo:($item['is_close']==1) ? '关闭':'开启'}</td>
					<td>{$item['intro']}</td>
					<td>
						<a href='{url:/market/pro_rule_edit/id/$item[id]}'>
							<img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="修改" title="修改" />
						</a>

						<a href='javascript:void(0)' onclick="delModel({link:'{url:/market/pro_rule_del/id/$item[id]}'});">
							<img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" />
						</a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
