<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{js:jquery}

	<script type='text/javascript'>
		$(function(){
			$("form").submit();
		});
	</script>
</head>

<body>
	<p>please wait...</p>

	<form action="{echo:$this->paymentInstance->getSubmitUrl()}" method="{$this->paymentInstance->method}">
		{foreach:items = $this->sendData}
		<input type='hidden' name='{$key}' value='{$item}' />
		{/foreach}
	</form>
</body>

</html>