<div class="headbar">
	<div class="position"><span>系统</span><span>></span><span>网站管理</span><span>></span><span>UI管理</span></div>
	<div class="searchbar"><h2>主题方案</h2></div>
	<div class="field t_l"><span>当前主题：<b class="brown">{$this->theme}</b></span><span>当前皮肤：<b class="brown">{$this->skin}</b></span></div>
</div>
<div class="content">
	{set:$themeList = Common::getSitePlan('theme')}
	{foreach:items = $themeList}
		<table class='list_table th_right'>
			<col width='125px' />
			<col width='70px' />
			<col />
			<tbody>
				<tr>
					<th rowspan='7'>
						<div class="thumbnail">
							<img src="{webroot:$item[thumb]}" width='110px' />
							{if:($key == $this->theme)}
							<div class="sel"><span>正在使用</span></div>
							{/if}
						</div>
					</th>
					<th>名称：</th><td>{$item['name']}</td>
				</tr>
				<tr><th>目录：</th><td>{$key}</td></tr>
				<tr><th>作者：</th><td>{$item['author']}</td></tr>
				<tr><th>版本：</th><td>{$item['version']}</td></tr>
				<tr><th>时间：</th><td>{$item['time']}</td></tr>
				<tr><th>简介：</th><td>{$item['info']}</td></tr>
				<tr>
					<th>操作：</th>
					<td>
						<a href='{url:/system/applyTheme/theme/$key}' class='orange'>启用</a> &nbsp
						<a href='{url:/system/conf_skin/theme/$key}' class='orange'>选择皮肤</a> &nbsp
					</td>
				</tr>
			</tbody>
		</table><br />
	{/foreach}
</div>