<div class="main f_r">
	<div class="uc_title m_10">
		<label class="current"><span>密码管理</span></label>
	</div>
	<div class="form_content">
		<div class="uc_title2 m_10"><span class="f_r">带<b class="red">*</b>号的项目为必填项</span><strong>修改密码</strong></div>
		<form action='{url:/ucenter/password_edit}' method='post'>
			<table class="form_table" cellpadding="0" cellspacing="0">
				<col width="200px" />
				<col />
				<tr>
					<th><span class="red">*</span>原有密码：</th><td><input type='password' class="normal" name="fpassword" pattern='required' alt='请输入原有密码'  /><label>原密码</label></td>
				</tr>
				<tr>
					<th><span class="red">*</span>你想要的新密码：</th><td><input type='password' class="normal" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' /><label>密码由英文字母、数字组成，长度6-32位</label></td>
				</tr>
				<tr>
					<th><span class="red">*</span>请再次输入新密码：</th><td><input type='password' class="normal" name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password' /><label>密码由英文字母、数字组成，长度6-32位</label></td>
				</tr>
				<tr>
					<th></th>
					<td>
						<label class="btn"><input type="submit" value="修改密码" /></label>
						<label class="btn"><input type="reset" value="取消" /></label>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>