<div class="headbar clearfix">
	<div class="position">订单<span>></span><span>单据管理</span><span>></span><span>发货单信息</span></div>
</div>
<div class="content">
	<table width="98%" class="border_table" style="margin:10px auto">
		<tbody>
			<tr>
				<th>订单号：</th><td>{$order_no}</td><th>配送方式:</th><td>{$pname}</td><th>订单时间:</th><td>{$create_time}</td>
			</tr>
			<tr>
				<th>操作员：</th><td>{$admin}</td><th>会员名:</th><td>{$username}</td><th>收货人：</th><td>{$name}</td>
			</tr>
			<tr>
				<th>收货地区：</th><td>{$country}</td><th>收货地址:</th><td>{$address}</td><th>邮编:</th><td>{$postcode}</td>
			</tr>
			<tr>
				<th>电话：</th><td>{$telphone}</td><th>手机:</th><td>{$mobile}</td><th>运费:</th><td>{$freight}</td>
			</tr>
			<tr>
				<th>物流单号：</th><td>{$delivery_code}</td><th>生成时间:</th><td colspan="3">{$time}</td>
			</tr>
			<tr>
				<th>备注：</th><td colspan="5">{$note}</td>
			</tr>
		</tbody>
	</table>
	<table width="98%" class="border_table" style="margin:10px auto">
		<col />
		<col width="150px" />
		<thead>
			<tr>
				<th>商品名称</th>
				<th>商品数量</th>
			</tr>
		</thead>
		<tbody>
			{query: name=order_goods where=order_id eq $order_id}
			{set:$goodsRow = JSON::decode($item['goods_array'])}
			<tr>
				<td>
					{$goodsRow['name']} &nbsp;&nbsp; {$goodsRow['value']}
				</td>
				<td>{$item['goods_nums']}</td>
			</tr>
			{/query}
		</tbody>
	</table>
</div>