{query:name=expresswaybill where = is_close eq 0 fields = id,name items = $printType /}
<div class="container">
	<table class="m_10" width="100%" cellspacing="0" cellpadding="0" border="0">
		<col />
		<tr>
			<td align="left"><img src="{webroot:image/logo.gif}" width="250" height="53" /></td>
		</tr>
	</table>

	<div class="container">
		<form action='{url:/order/expresswaybill_print}' method='post' id='express_print'>
			<input type='hidden' name='order_id' id='order_id' value='' />
			<input type='hidden' name='express_id' id='express_id' value='' />

			{foreach:items = $this->orderInfo item = $orderRow}
			<table class="table" width="100%" cellspacing="0" cellpadding="0" border="0" style='margin-top:15px'>
				<col width="300px" />
				<col />
				<tr>
					<th>收货人姓名:</th><td align='left'>{$orderRow['accept_name']}</td>
				</tr>
				<tr>
					<th>收货地址:</th><td align='left'>{$orderRow['province_str']} &nbsp; {$orderRow['city_str']} &nbsp; {$orderRow['area_str']} &nbsp; {$orderRow['address']}</td>
				</tr>
				<tr>
					<th>联系手机:</th><td align='left'>{$orderRow['mobile']}</td>
				</tr>
				<tr>
					<th>联系电话:</th><td align='left'>{$orderRow['telphone']}</td>
				</tr>
				<tr>
					<th>邮编:</th><td align='left'>{$orderRow['postcode']}</td>
				</tr>
				<tr>
					<th>订单附言:</th><td align='left'>{$orderRow['postscript']}</td>
				</tr>
				<tr>
					<th></th>
					<td align='left'>
						{if:$printType}
						{foreach:items = $printType item = $printRow}
						<input type='submit' value='{$printRow['name']}' onclick='$("#express_id").val("{$printRow['id']}");$("#order_id").val("{$orderRow['id']}");' /> &nbsp;&nbsp;
						{/foreach}
						{else:}
						当前还没有快递单模板<a href='{url:/order/expresswaybill_edit}'>点击新建</a>
						{/if}
					</td>
			</table>
			{/foreach}
		</form>
	</div>
</div>