<div class="headbar clearfix">
	<div class="position">订单<span>></span><span>单据管理</span><span>></span><span>退款单信息</span></div>
</div>

<div class="content">
	<table width="100%" class="border_table" style="margin:10px auto">
		<col width="200px" />
		<col />
		<tbody>
			<tr class='t_l'>
				<th>订单号:</th><td>{$order_no}</td>
			</tr>
			<tr class='t_l'>
				<th>订单时间:</th><td>{$create_time}</td>
			</tr>
			<tr class='t_l'>
				<th>操作员:</th><td>{query:name=admin where=id eq $admin_id fields=admin_name }{$item['admin_name']}{/query}</td>
			</tr>
			<tr class='t_l'>
				<th>用户名:</th><td>{$username}</td>
			</tr>
			<tr class='t_l'>
				<th>退款金额:</th><td>{$amount}</td>
			</tr>
			<tr class='t_l'>
				<th>处理状态</th><td>{if:$pay_status==0}申请退款{elseif:$pay_status==1}退款失败{else:$pay_status==2}退款成功{/if}</td>
			</tr>
			<tr class='t_l'>
				<th>处理时间:</th><td>{$dispose_time}</td>
			</tr>
			<tr class='t_l'>
				<th>退款原因:</th><td>{$content}</td>
			</tr>
			<tr class='t_l'>
				<th>处理意见:</th><td>{$dispose_idea}</td>
			</tr>
		</tbody>
	</table>
</div>