{set:$seo_data=array(); $site_config=new Config('site_config');$site_config=$site_config->getInfo();}
{set:$seo_data['title']=$this->noticeRow['title']}
{if:isset($site_config['name'])}
	{set:$seo_data['title'].="_".$site_config['name']}
{/if}
{set:seo::set($seo_data);}

<div class="position"> <span>您当前的位置：</span> <a href="{url:}"> 首页</a> » <a href="{url:/site/notice}">公告列表</a> » {$this->noticeRow['title']} </div>
<div class="wrapper clearfix container_2">
<div class="sidebar f_l">
	<div class="box m_10">
		<div class="title">热卖商品</div>
		<div class="content">
		  <ul class="ranklist">
			{query:name=commend_goods as commend join=left join goods as go on go.id eq commend.goods_id
				where  = commend_id eq 3 and go.id is not null and go.is_del eq 0
				fields = go.id,go.img,go.name,go.sell_price
				limit  = 10
			}
			<li class='current'><a href="{url:/site/products/id/$item[id]}"><img src="{webroot:}{echo:Thumb::get($item['img'],58,58)}" width="58" height="58" /></a><a href="{url:/site/products/id/$item[id]}">{$item['name']}</a><b>￥{$item['sell_price']}</b></li>
			{/query}
		  </ul>
		</div>
	</div>
	<div class="box m_10">
		<div id="adHere_10"></div>
		<script language="javascript">
		(new adLoader()).load(10,'adHere_10');
		</script>
	</div>
</div>
<div class="main f_r">
	<div class="box m_10">
		<div class="title2">商城公告</div>
		<div class="cont">
			<div class="c_box">
				<h2>{$this->noticeRow['title']}</h2>
				<div class="partake_bar clearfix">
					<span class="f_r"></span>发布日期：{$this->noticeRow['time']}
				</div>
				<hr class="m_10" />
				<div class="textcontent">
					<p>{$this->noticeRow['content']}</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
