<div class="headbar">
	<div class="position"><span>工具</span><span>></span><span>公告管理</span><span>></span><span>公告列表</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="event_link('{url:/tools/notice_edit}')"><button class="operating_btn" type="button"><span class="addition">添加公告</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
	<div class="field">
		<table class="list_table">
			<col width="40px" />
			<col />
			<col width="150px" />
			<col width="110px" />
			<thead>
				<tr>
					<th class="t_c">选择</th>
					<th>标题</th>
					<th>发布时间</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<form action="{url:/}" method="get" name="notice">
		<input type='hidden' name='controller' value='tools' />
		<input type='hidden' name='action' value='notice_del' />
		<table class="list_table">
			<col width="40px" />
			<col />
			<col width="150px" />
			<col width="110px" />
			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query: name=announcement order=id desc page=$page pagesize=20}
				<tr>
					<td class="t_c"><input type="checkbox" name="id[]" value="{$item['id']}" /></td>
					<td><a target="_blank" href='{url:/site/notice_detail/id/$item[id]}' title='查看'>{echo:$item['title'];}</a></td>
					<td>{$item['time']}</td>
					<td>
						<a href='{url:/tools/notice_edit/id/$item[id]}'><img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="编辑" title="编辑" /></a>
						<a target="_blank" href='{url:/site/notice_detail/id/$item[id]}'><img class="operator" src="{skin:images/admin/icon_check.gif}" alt="查看" title="查看" /></a>
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/tools/notice_del/id/$item[id]}'});"><img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" /></a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
{$query->getPageBar()}
