{set:
	$myCartObj  = new Cart();
	$myCartInfo = $myCartObj->getMyCart();
	$siteConfig = new Config("site_config");
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{echo:$siteConfig->name}</title>
	<link rel="stylesheet" href="{skin:css/index.css}" />
	<link rel="shortcut icon" href="favicon.ico" />
	{js:jquery}
	{js:form}
	{js:dialog}
	{js:validate}
	{js:artTemplate}
	<script type='text/javascript' src="{theme:javascript/common.js}"></script>
	<script type='text/javascript' src='{theme:javascript/site.js}'></script>
	<script type='text/javascript'>
		//用户中心导航条
		function menu_current()
		{
		    var current = "{echo:$this->getAction()->getId()}";
		    if(current == 'consult_old') current='consult';
		    else if(current == 'isevaluation') current ='evaluation';
		    else if(current == 'withdraw') current = 'account_log';
		    var tmpUrl = "{url:/ucenter/current}";
		    tmpUrl = tmpUrl.replace("current",current);
		    $('div.cont ul.list li a[href^="'+tmpUrl+'"]').parent().addClass("current");
		}
	</script>
</head>
<body class="index">
<div class="ucenter container">
	<div class="header">
		<h1 class="logo"><a title="{echo:$siteConfig->name}" style="background:url({webroot:image/logo.gif});" href="{url:}">{echo:$siteConfig->name}</a></h1>
		<ul class="shortcut">
			<li class="first"><a href="{url:/ucenter/index}">我的账户</a></li><li><a href="{url:/ucenter/order}">我的订单</a></li><li class='last'><a href="{url:/site/help_list}">使用帮助</a></li>
		</ul>
		<p class="loginfo">{$this->user['username']}您好，欢迎您来到{echo:$siteConfig->name}购物！[<a class='reg' href="{url:/simple/logout}">安全退出</a>]</p>
	</div>
	<div class="navbar">
		<ul>
			<li><a href="{url:}">首页</a></li>
			{query:name=guide}
			<li><a href="{$item['link']}">{$item['name']}<span> </span></a></li>
			{/query}
		</ul>
		<div class="mycart">
			<dl>
				<dt><a href="{url:/simple/cart}">购物车<b name="mycart_count">{$myCartInfo['count']}</b>件</a></dt>
				<dd><a href="{url:/simple/cart}">去结算</a></dd>
			</dl>

			<!--购物车浮动div 开始-->
			<div class="shopping" id='div_mycart' style='display:none;'>
			</div>
			<!--购物车浮动div 结束-->

			<!--购物车模板 开始-->
			<script type='text/html' id='cartTemplete'>
			<dl class="cartlist">
				<%for(var item in goodsData){%>
				<%var data = goodsData[item]%>
				<dd id="site_cart_dd_<%=item%>">
					<div class="pic f_l"><img width="55" height="55" src="{webroot:<%=data['img']%>}"></div>
					<h3 class="title f_l"><a href="{url:/site/products/id/<%=data['goods_id']%>}"><%=data['name']%></a></h3>
					<div class="price f_r t_r">
						<b class="block">￥<%=data['sell_price']%> x <%=data['count']%></b>
						<input class="del" type="button" value="删除" onclick="removeCart('{url:/simple/removeCart}','<%=data['id']%>','<%=data['type']%>');$('#site_cart_dd_<%=item%>').hide('slow');" />
					</div>
				</dd>
				<%}%>

				<dd class="static"><span>共<b name="mycart_count"><%=goodsCount%></b>件商品</span>金额总计：<b name="mycart_sum">￥<%=goodsSum%></b></dd>

				<%if(goodsData){%>
				<dd class="static">
					{if:ISafe::get('user_id')}
					<a class="f_l" href="javascript:void(0)" onclick="deposit_ajax('{url:/simple/deposit_cart_set}');">寄存购物车>></a>
					{/if}
					<label class="btn_orange"><input type="button" value="去购物车结算" onclick="window.location.href='{url:/simple/cart}';" /></label>
				</dd>
				<%}%>
			</dl>
			</script>
			<!--购物车模板 结束-->

		</div>
	</div>

	<div class="searchbar">
		<div class="allsort">
			<a href="javascript:void();">全部商品分类</a>

			<!--总的商品分类-开始-->
			<ul class="sortlist" id='div_allsort' style='display:none'>
				{query:name=category where=parent_id eq 0 and visibility eq 1 order=sort asc item=$first}
				<li>
					<h2><a href="{url:/site/pro_list/cat/$first[id]}">{$first['name']}</a></h2>

					<!--商品分类 浮动div 开始-->
					<div class="sublist" style='display:none'>
						<div class="items">
							<strong>选择分类</strong>
							{query:name=category where=parent_id eq $first[id] and visibility eq 1 order=sort asc item = $second}
							<dl class="category selected">
								<dt>
									<a href="{url:/site/pro_list/cat/$second[id]}">{$second['name']}</a>
								</dt>

								<dd>
									{query:name=category where=parent_id eq $second[id] and visibility eq 1 order=sort asc item = $third}
									<a href="{url:/site/pro_list/cat/$third[id]}">{$third['name']}</a>|
									{/query}
								</dd>
							</dl>
							{/query}
						</div>
					</div>
					<!--商品分类 浮动div 结束-->
				</li>
				{/query}
			</ul>
			<!--总的商品分类-结束-->

		</div>

		<div class="searchbox">

			<form method='get' action='{url:/}'>
				<input type='hidden' name='controller' value='site' />
				<input type='hidden' name='action' value='search_list' />
				<input class="text" type="text" name='word' autocomplete="off" value="输入关键字..." />
				<input class="btn" type="submit" value="商品搜索" onclick="checkInput('word','输入关键字...');" />
			</form>

			<!--自动完成div 开始-->
			<ul class="auto_list" style='display:none'></ul>
			<!--自动完成div 开始-->

		</div>
		<div class="hotwords">热门搜索：
			{query:name=keyword where=hot eq 1 limit=5 order=`order` asc}
			{set:$tmpWord = urlencode($item['word']);}
			<a href="{url:/site/search_list/word/$tmpWord}">{$item['word']}</a>
			{/query}
		</div>
	</div>

	<div class="position">
		您当前的位置： <a href="{url:}">首页</a> » <a href="{url:/ucenter/index}">我的账户</a>
	</div>
	<div class="wrapper clearfix">
		<div class="sidebar f_l">
			<img src="{skin:images/front/ucenter/ucenter.gif}" width="180" height="40" />
			<div class="box">
				<div class="title"><h2>交易记录</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/order}">我的订单</a></li>
						<li><a href="{url:/ucenter/integral}">我的积分</a></li>
						<li><a href="{url:/ucenter/redpacket}">我的代金券</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg2'>服务中心</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/refunds}">退款申请</a></li>
						<li><a href="{url:/ucenter/complain}">站点建议</a></li>
						<li><a href="{url:/ucenter/consult}">商品咨询</a></li>
						<li><a href="{url:/ucenter/evaluation}">商品评价</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg3'>应用</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/message}">短信息</a></li>
						<li><a href="{url:/ucenter/favorite}">收藏夹</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg4'>账户资金</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/account_log}">帐户余额</a></li>
						<li><a href="{url:/ucenter/online_recharge}">在线充值</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg5'>个人设置</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/address}">地址管理</a></li>
						<li><a href="{url:/ucenter/info}">个人资料</a></li>
						<li><a href="{url:/ucenter/password}">修改密码</a></li>
					</ul>
				</div>
			</div>
		</div>
		{viewcontent}
	</div>

	<div class="help m_10">
		<div class="cont clearfix">
			{query:name=help_category where=position_foot eq 1 order=sort ASC,id desc limit=5 item=$helpCat}
			<dl>
     			<dt><a href="{url:/site/help_list/id/$helpCat[id]}">{$helpCat['name']}</a></dt>
     			{query:name=help where=cat_id eq $helpCat[id] order=sort ASC,id desc}
					<dd><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a></dd>
				{/query}
      		</dl>
      		{/query}
		</div>
	</div>

	{echo:IFilter::stripSlash($siteConfig->site_footer_code)}

</div>
<script type='text/javascript'>
//DOM加载完毕后运行
$(function()
{
	$(".tabs").each(function(i){
	    var parrent = $(this);
		$('.tabs_menu .node',this).each(function(j){
			var current=".node:eq("+j+")";
			$(this).bind('click',function(event){
				$('.tabs_menu .node',parrent).removeClass('current');
				$(this).addClass('current');
				$('.tabs_content>.node',parrent).css('display','none');
				$('.tabs_content>.node:eq('+j+')',parrent).css('display','block');
			});
		});
	});

	//隔行换色
	$(".list_table tr:nth-child(even)").addClass('even');
	$(".list_table tr").hover(
		function () {
			$(this).addClass("sel");
		},
		function () {
			$(this).removeClass("sel");
		}
	);

	menu_current();

	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
	});

	{set:$word = IReq::get('word') ? IFilter::act(IReq::get('word'),'text') : '输入关键字...'}
	$('input:text[name="word"]').val("{$word}");

	//购物车div层
	$('.mycart').hover(
		function(){
			showCart('{url:/simple/showCart}');
		},
		function(){
			$('#div_mycart').hide('slow');
		}
	);
});
</script>
</body>
</html>
