{set:$brandId = IFilter::act(IReq::get('id'),'int')}
{query:name=brand where=id eq $brandId item=$brandRow}{/query}

<div class="position"> <span>您当前的位置：</span> <a href="{url:}"> 首页</a> » 商品品牌 </div>
<div class="wrapper clearfix container_2">
	<div class="sidebar f_l">
		<div class="box m_10">
			<div class="title">销售排行榜</div>
			<div class="content">
			  <ul class="ranklist" id="ranklist">
			  	{query:name=goods as go join=left join order_goods as ord on ord.goods_id eq go.id
			  		where = go.brand_id eq $brandId
			  		fields= go.id,go.name,go.img,go.sell_price,SUM(ord.goods_nums) as sum
			  		order = sum desc
			  		group = ord.goods_id
			  		limit = 10
			  	}
			  	<li><span>{echo:intval($key+1)}</span><a href="{url:/site/products/id/$item[id]}"><img src="{webroot:}{echo:Thumb::get($item['img'],58,58)}" width="58px" height="58px" /></a><a href="{url:/site/products/id/$item[id]}">{$item['name']}</a><b>￥{$item['sell_price']}</b></li>
			  	{/query}
			  </ul>
			</div>
		</div>

		<div class="box m_10">
			<div class="title">热卖商品</div>
			<div class="cont">
				<ul class="ranklist">
					{query:name=commend_goods as commend join=left join goods as go on go.id eq commend.goods_id
						where  = commend_id eq 3 and go.brand_id eq $brandId AND go.id is not null
						fields = go.id,go.img,go.name,go.sell_price
						order = go.sort asc,go.id desc
						limit  = 10
					}
					<li class='current'><a href="{url:/site/products/id/$item[id]}"><img src="{webroot:}{echo:Thumb::get($item['img'],58,58)}" width="58" height="58" /></a><a href="{url:/site/products/id/$item[id]}">{$item['name']}</a><b>￥{$item['sell_price']}</b></li>
					{/query}
				</ul>
			</div>
		</div>

		<div class="box m_10">
			<div class="title">更多品牌</div>
			<div class="cont">
			  <ul class="textlist_2 clearfix">
			  	{query:name=brand limit=10 order=sort asc fields=id,name where=id neq $brandId}
			  	<li><a href="{url:/site/brand_zone/id/$item[id]}">{$item['name']}</a></li>
			  	{/query}
			  </ul>
			</div>
		</div>

	</div>

	<div class="main f_r">
		<div class="box m_10">
			<div class="title">品牌专区</div>
			<div class="cont">
				<div class="c_box">
					<dl class="clearfix">
						<dt><img src="{webroot:$brandRow[logo]}" width="220" height="100" /></dt>
						<dd><strong>{$brandRow['name']}</strong></dd>
						<dd>官方站点：{$brandRow['url']}</dd>
					</dl>
					<p>{$brandRow['description']}</p>
				</div>
			</div>
		</div>

		<div class="display_title">
			<span class="l"></span>
			<span class="r"></span>
			<span class="f_l">排序：</span>
			<ul>
				{foreach:items=search_goods::getOrderType()}
				{set:$next = search_goods::getOrderValue($key)}
				<li class="{echo:search_goods::isOrderCurrent($key) ? 'current':''}">
					<span class="l"></span><span class="r"></span>
					<a href="{echo:search_goods::searchUrl('order',$next)}">{$item}<span class="{echo:search_goods::isOrderDesc() ? 'desc':''}">&nbsp;</span></a>
				</li>
				{/foreach}
			</ul>
			<span class="f_l">显示方式：</span>
			<a class="show_b" href="{echo:search_goods::searchUrl('show_type','win')}" title='橱窗展示' alt='橱窗展示'><span class='{echo:search_goods::getListShow(IReq::get('show_type')) == 'win' ? 'current':''}'></span></a>
			<a class="show_s" href="{echo:search_goods::searchUrl('show_type','list')}" title='列表展示' alt='列表展示'><span class='{echo:search_goods::getListShow(IReq::get('show_type')) == 'list' ? 'current':''}'></span></a>
		</div>
		{set:$goodsObj = search_goods::find(' go.brand_id = '.$brandId);$resultData = $goodsObj->find();}
		{if:$resultData}
		{set:$listSize = search_goods::getListSize(IFilter::act(IReq::get('show_type')))}
		<ul class="display_list clearfix m_10">
			{foreach:items=$resultData}
			<li class="clearfix {echo:search_goods::getListShow(IFilter::act(IReq::get('show_type')))}">
				<div class="pic">
					<img src="{webroot:}{echo:Thumb::get($item['img'],$listSize['width'],$listSize['height'])}" width="{$listSize['width']}" height="{$listSize['height']}" alt="{$item['name']}" title="{$item['name']}" />
				</div>
				<h3 class="title"><a href="{url:/site/products/id/$item[id]}">{$item['name']}</a><span>总销量：{$item['sale']}<a class="blue" href="{url:/site/comments_list/id/$item[id]}">( {$item['comments']}人评论 )</a></span><span class='grade'><i style='width:{echo:Common::gradeWidth($item['grade'],$item['comments'])}px'></i></span></h3>
				<div class="handle">
					<label class="btn_gray_m"><img src="{skin:images/front/ucenter/shopping.gif}" width="15" height="15" /><input type="button" value="加入购物车" onclick="joinCart_list({$item['id']});"></label>
					<label class="btn_gray_m"><img src="{skin:images/front/ucenter/favorites.gif}" width="15" height="14" /><input type="button" value="收藏" onclick="favorite_add_ajax('{url:/simple/favorite_add}','{$item['id']}',this);"></label>
					<div class="msgbox" style="width:350px;display:none">
						<div class="msg_t"><a class="close f_r" onclick="$(this).parents('.msgbox').hide();">关闭</a>请选择规格</div>
						<div class="msg_c" id='product_box_{$item['id']}'></div>
					</div>
				</div>
				<div class="price">￥{$item['sell_price']}<s>￥{$item['market_price']}</s></div>
			</li>
			{/foreach}
		</ul>
		{$goodsObj->getPageBar()}

		{else:}
		<p class="display_list mt_10" style='margin-top:50px;margin-bottom:50px'>
			<strong class="gray f14">对不起，没有找到相关商品</strong>
		</p>
		{/if}
	</div>
</div>
