{set:$seo_data=array();$site_config=new Config('site_config');}
{set:$seo_data['title']=$this->help_row['name'].'_'.$site_config->name;}
{set:seo::set($seo_data);}

{set:$cat_id=$this->cat_row['id'];}
<div class="position"> <span>您当前的位置：</span> <a href="{url:}"> 首页</a> » <a href="{url:/site/help_list/id/$cat_id}">{$this->cat_row['name']}</a> </div>
<div class="container_2 wrapper clearfix">
	<div class="help_c sidebar f_l">
		{query:name=help_category where=position_left eq 1 order=sort desc,id desc}
		<div class="hc_title"><strong>{$item['name']}</strong></div>
		<ul class="list m_10">
			{query:name=help where=cat_id eq $item[id] order=sort desc,id desc item=$help_row}
			<li><a href="{url:/site/help/id/$help_row[id]/}">{$help_row['name']}</a></li>
			{/query}
		</ul>
		{/query}
	</div>
	<div class="main f_r">
		<div class="box"><div class="hc_title">{$this->help_row['name']}</div></div>
		<div class="c_box">
			<div class="textcontent">
				{$this->help_row['content']}
			</div>
			<a class="toindex f_r" href="{url:}">返回首页</a>
		</div>
	</div>
</div>
