{set:$seo_data=array();$site_config=new Config('site_config');$site_config=$site_config->getInfo();}

{set:$seo_data['title']=isset($site_config['name'])?$site_config['name']:""}
{set:$seo_data['title']=$this->cat_row['name'].'_'.$seo_data['title'] }
{set:seo::set($seo_data);}

<div class="position"> <span>您当前的位置：</span> <a href="{url:}"> 首页</a> » {$this->cat_row['name']} </div>
<div class="wrapper clearfix">
	<div class="help_c sidebar f_l">
	{query:name=help_category where=position_left eq 1 order=sort desc,id desc}
		<div class="hc_title"><strong>{$item['name']}</strong></div>
		<ul class="list m_10">
		{query:name=help where=cat_id eq $item[id] order=sort desc,id desc item=$help_row}
			<li><a href="{url:/site/help/id/$help_row[id]}">{$help_row['name']}</a></li>
		{/query}
		</ul>
	{/query}
	</div>

	{set:$id=intval(IReq::get('id'));}
	{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
	<div class="main f_r">
		<div class="box m_10">
			<div class="title2">{$this->cat_row['name']}</div>
			<div class="cont">
				<h5 class="list_title gray">
					<span class="f_l">标题</span>发表时间
				</h5>
				<ul class="newslist">
					{if:null === IReq::get('id')}
					{query:name=help order=sort desc,id desc page=$page }
					<li><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a><span>({echo:date('Y-m-d H:i:s',$item['dateline']);})</span></li>
					{/query}
					{else:}
					{query:name=help where=cat_id eq $id order=sort desc,id desc page=$page }
					<li><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a><span>({echo:date('Y-m-d H:i:s',$item['dateline']);})</span></li>
					{/query}
					{/if}
				</ul>
				{$query->getPageBar();}
			</div>
		</div>
	</div>
</div>