{set:$items=$this->comment;}
<div class="headbar">
	<div class="position"><span>会员</span><span>></span><span>咨询管理</span><span>></span><span>查看评论</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="reclaim()"><button class="operating_btn" type="button"><span class="delete">删除</span></button></a>
		<a href="javascript:void(0)" onclick="history.go(-1)"><button class="operating_btn" type="button"><span class="return">返回</span></button></a>
	</div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/comment/comment_del/}" method="post" name="comment_edit">
			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<th>评论人：</th><td>{if:isset($items['userid'])}<a href="{url:/member/member_edit/uid/$items[userid]}">{$items['username']}</a>{/if}
					<input type="hidden" value="{$items['id']}" name="check[]" /></td>
				</tr>
				<tr>
					<th>评价时间：</th><td>{$items['time']}</td>
				</tr>
				<tr>
					<th>评价商品：</th><td>{$items['goods_name']}</td>
				</tr>
				<tr>
					<th>评价内容：</th><td>{$items['contents']}</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<SCRIPT LANGUAGE="JavaScript">
<!--
function reclaim()
{
	art.dialog({
		id: 'reclaim',
		lock: true,
		title: '删除评价',
		content: "确定要删除此条评价信息吗？",
		ok: function(){
			$("form[name='comment_edit']").submit();
			return false;
		},
		cancel: true
	});
}
//-->
</SCRIPT>
