<div class="main f_r">

	<div class="uc_title m_10">
		<label class="current"><span><a href='{url:/ucenter/account_log}'>交易记录</a></span></label>
		<label><span><a href='{url:/ucenter/withdraw}'>提现申请</a></span></label>
	</div>

	<div class="prompt m_10">
		<p>账户余额：<b class="orange f14">￥{$this->memberRow['balance']}</b></p>
	</div>

	<div>
		<table class='list_table m_10' width='100%' cellspacing='0' cellpadding='0'>
			<col />
			<col width="110px" />
			<col width="110px" />
			<col width="110px" />
			<col width="145px" />
			<thead>
				<tr>
					<th>事件</th><th>存入金额</th><th>支出金额</th><th>当前金额</th><th>时间</th>
				</tr>
			</thead>
			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{set:$user_id = $this->user['user_id']}
				{query:name=account_log where=user_id eq $user_id page=$page order=id desc}
				<tr>
					<td style="text-align:left;">{$item['note']}</td>
					<td>{echo:$item['amount'] > 0 ? $item['amount'].'元' : ''}</td>
					<td>{echo:$item['amount'] < 0 ? $item['amount'].'元' : ''}</td>
					<td><span class="red">{$item['amount_log']} 元</span></td>
					<td>{$item['time']}</td>
				</tr>
				{/query}
			</tbody>
		</table>
		{$query->getPageBar()}
	</div>

</div>
