<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="{skin:css/admin.css}" />
{js:jquery}
{js:dialog}
</head>
<body>
<div class="pop_win" style="width:520px;height:270px">
	{set:$tmpType=IReq::get('type');}
	<form action='{url:/block/goods_list/type/$tmpType}' method='post'>
		<table class='form_table'>
			<col width="150px" />
			<col />

			<tbody>
				<tr>
					<td class="t_r">商品名称：</td>
					<td><input type='text' class='normal' name='keywords' /></td>
				</tr>
				<tr>
					<td class="t_r">商品货号：</td>
					<td><input type='text' class='normal' name='goods_no' /></td>
				</tr>
				<tr>
					<td class="t_r">商品分类：</td>
					<td>
						<select name="category_id" pattern="required" alt="请选择分类值" class="normal">
							<option value="">请选择</option>
							{query:name=category order=sort asc}
							<option value="{$item['id']}">{$item['name']}</option>
							{/query}
						</select>
					</td>
				</tr>
				<tr>
					<td class="t_r">商品价格：</td>
					<td>
						<input type='text' class='small' name='min_price' pattern='float' empty /> ～
						<input type='text' class='small' name='max_price' pattern='float' empty />
					</td>
				</tr>
				<tr>
					<td class="t_r">规格选择：</td>
					<td>
						<label class='attr'><input type='radio' name='is_products' value='0' checked='checked' />无规格商品</label>
						<label class='attr'><input type='radio' name='is_products' value='1' />有规格货品</label>
					</td>
				</tr>
				<tr>
					<td class="t_r">显示数量：</td>
					<td>
						<select class='small' name='show_num'>
							<option value='10' selected='selected'>10</option>
							<option value='20'>20</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
</body>
</html>
